{% extends 'base.html' %}
  {% block title %}
    Spider Data
  {% endblock %}

{% block content %}
<script type="text/javascript">
    jQuery(document).ready(function($) {
      


$('#container-1').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: '歌曲'
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: {{ songs|tojson|safe }}
        }]
    });

$('#container-2').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: '专辑'
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: {{ album|tojson|safe }}
        }]
    });

$('#container-3').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: '艺术家 '
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: {{ artist|tojson|safe }}
        }]
    });

    });
</script>


        <div class="span9">
{% if not user %}


          <div class="hero-unit" style='width:900px;'>
<!--     <form class="form-horizontal" action='{{ url_for('collection') }}' method='get'>
        <div class="control-group">
        <label class="control-label" for="inputEmail">虾米用户ID</label>
            <div class="controls">
                <input type="text" id="inputUid" name='uid' placeholder="虾米用户ID">
            </div>
            </div>
            <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn submit-btn" value='搜索'>
            </div>
        </div>
    </form> -->

            <div class='row' style="">
            <ul style='list-style:none;margin:0px;'>
              {% for user in users %}
              <li style='float:left; margin-top:20px; width:300px;'>
                <div>
                <span>
                    <img src="{{ user.avatar }}" class="img-circle" style='height:100px;width:100px;'>
                </span>
                <span>
                    <a href="/?uid={{ user.uid }}" style='margin-right:100px;'>{{ user.username }}</a>
                </span>
                
                </div>
            </li>
              {% endfor %}
            </ul>

          </div>
          </div>
{% else %}
    <div id="container-1" style="min-width: 510px; height: 600px; margin: 0 auto"></div>
    <div id="container-2" style="min-width: 510px; height: 600px; margin: 0 auto"></div>
    <div id="container-3" style="min-width: 510px; height: 600px; margin: 0 auto"></div>

{% endif %}
        </div>


{% endblock %}